body {
    padding: 10px 30px;
}

header {
    height: 100px;
}
#main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main-nav li {
    display: inline;
}
#main-nav li a {
    padding: 0 10px;
}
footer {
    text-align: center;
}
section {
    display: block;
    clear: both;
}