.navbar-brand {
    font-family: Fairview,sans-serif;
    font-size: 25px;
}
footer {
    text-align: center;
}
section {
    display: block;
    clear: both;
    margin: 5px 0 20px 0;
}
.listImgs {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;

}
p {
    display: inline-block;
    float: left;
    width: 80%;
}