footer {
    text-align: center;
}
.navbar-brand {
    font-family: Fairview, sans-serif;
    font-size: 25px!important;
}
.jumbotron {
    background: url(../images/softuni.png) no-repeat center center;
    background-size: cover;	
    height: 300px;
    text-align: center;
}
.btn-primary {
    background-color: rgba(39, 128, 227, 0.5)!important;
    margin-top: 160px;
}
.pictures {
    text-align: center;
}
.homePictures {
    margin: 0 10px 20px 10px;
    width: 35%;
}
ul.list-inline.center-block {
    height: 30px;
    margin-bottom: 0;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.list-inline>li {
    padding-left: 0!important;
    padding-right: 0!important;
}
#facebookGeorgeM {
    background: url(../images/icons.png) 0 150px;
}
#facebookGeorgeM:hover {
    background: url(../images/GeorgeM.png);
    background-size: 30px;
}
#facebookPeter {
    background: url(../images/icons.png) 0 110px;
}
#facebookPeter:hover {
    background: url(../images/PeterKoev.jpg);
    background-size: 30px;
}
#gitHub {
    background: url(../images/gitCover.png);
    background-size: 30px;
}
#gitHub:hover {
    background: url(../images/git.png);
    background-size: 32px;
}
#facebookValentin {
    background: url(../images/icons.png) 0 70px;
}
#facebookValentin:hover {
    background: url(../images/icons.png) 30px 70px;
}
#facebookGeorgeB {
    background: url(../images/icons.png) 0 30px;
}
#facebookGeorgeB:hover {
    background: url(../images/icons.png) 30px 30px;
}
