body {
    background: url(../images/background.jpg);
}
.navbar-brand {
    font-family: Fairview, sans-serif;
    font-size: 25px!important;
}
.jumbotron {
    background: url(../images/softuni2.png) no-repeat center center;
    background-size: cover;	
    height: 300px;
    text-align: center;
}
.btn-primary {
    background-color: rgba(255, 255, 255, 0.9)!important;
    border-color: black!important;;
    margin-top: 170px;
    color: black!important;
    font-weight: bold!important;
}
.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.2)!important;
    color: white!important;
    border-color: white!important;
    font-size: 23px;
}
.pictures {
    text-align: center;
}
.homePictures {
    margin: 0 10px 20px 10px;
    width: 35%;
}
.CoursesPictures {
    margin: 0 10px 20px 10px;
    width: 50%;
}
footer {
    text-align: center;
}
.footer {
    background-color: #222;
    color: white;
}
ul.list-inline.center-block {
    height: 30px;
}
.icon {
    width: 40px;
    height: 40px;
}
.list-inline>li {
    padding-left: 0!important;
    padding-right: 0!important;
}
#softUniGeorgeM {
    background: url(../images/softuniLogo2.png);
    background-size: 40px;
}
#softUniGeorgeM:hover {
    background: url(../images/GeorgeM.png);
    background-size: 40px;
}
#softUniPeter {
    background: url(../images/softuniLogo.png);
    background-size: 40px;
}
#softUniPeter:hover {
    background: url(../images/PeterKoev.jpg);
    background-size: 40px;
}
#gitHub {
    background: url(../images/gitCover.png);
    background-size: 40px;
}
#gitHub:hover {
    background: url(../images/git.png);
    background-size: 42px;
}
#softUniValentin {
    background: url(../images/softuniLogo.png);
    background-size: 40px;
}
#softUniValentin:hover {
    background: url(../images/Valentin.png);
    background-size: 40px;
}
#softUniGeorgeB {
    background: url(../images/softuniLogo2.png);
    background-size: 40px;
}
#softUniGeorgeB:hover {
    background: url(../images/GeorgeB.png);
    background-size: 40px;
}
.jokes-title{
    font-size:40px;
    text-align:center;
    font-weight:400;
    margin-bottom:20px;
}
.jokes{
    background-color:rgba(39, 26, 26, 0.72);
    font-weight:400;
    color:#f6f0f0;
    margin-left:25%;
    padding:10px;
    padding-left:15px;
    border:1px double black;
    border-radius:5px;  
    width:50%;
    margin-bottom:20px;
}
section{
    display:block;
    text-align: center;
}
.funny-pictures > li{
    list-style-type:none;
    text-decoration:none;
    display:block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    vertical-align: top;
    box-sizing: border-box;
}

